/* Archivo styles.css */
.background {
    background-image: url('../../../../public/manos.jpg');
    background-size: cover;  /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100%;  /* Ocupa todo el ancho de la pantalla */
    /* opacity: 50%; */
  }

  